[tool.poetry]
name = "bmt"
version = "0.0.0"
description = "Biolink Model Toolkit: A Python API for working with the Biolink Model"
authors = ["Sierra Taylor Moxon <sierra.taylor@gmail.com>"]
license = "BSD"

readme = "README.md"
repository = "https://github.com/biolink/biolink-model-toolkit"
documentation = "https://biolink.github.io/biolink-model-toolkit/"


keywords = ["schema", "linked data", "data modeling", "biolink", "api"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Healthcare Industry",
    "License :: CC0 1.0 Universal (CC0 1.0) Public Domain Dedication",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10"
]

packages = [
    { include = "bmt" }
]


[tool.poetry.dependencies]
python = "^3.8"
linkml = "^1.3.13"
linkml-runtime = "^1.3.6"
deprecation = "^2.1.0"
stringcase = "^1.2.0"
pytest = "^7.2.0"
recommonmark = "^0.7.1"
Sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"
sphinxcontrib-napoleon = "^0.7"
sphinx-autodoc-typehints = "^1.19.5"
sphinx-click = "^4.3.0"
twine = "^4.0.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
docs = ["Sphinx", "sphinxcontrib-mermaid"]