name: Sphinx Documentation
on:
  push:
    branches: [ master ]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Install uv
        run: make install

      - name: install
        run: uv add --group docs

      - name: Build documentation.
        run: |
          mkdir gh-pages
          touch gh-pages/.nojekyll
          cd docs/
          poetry run make html
          cp -r _build/html/* ../gh-pages/
          ls -lrt ../gh-pages
      - name: Deploy documentation.
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4.3.0
        with:
          branch: gh-pages
          force: true
          folder: gh-pages